SOURCES/rhc-1.6.11.tar.gz
SOURCES/sudo-1.2.6.tar.gz
SOURCES/keylime_server-1.2.1.tar.gz
SOURCES/podman-1.8.3.tar.gz
SOURCES/snapshot-1.5.2.tar.gz
SOURCES/storage-1.18.20.tar.gz
SOURCES/cockpit-1.7.1.tar.gz
SOURCES/firewall-1.10.2.tar.gz
SOURCES/postgresql-1.4.2.tar.gz
SOURCES/timesync-1.10.2.tar.gz
SOURCES/certificate-1.4.2.tar.gz
SOURCES/gfs2-1.0.3.tar.gz
SOURCES/journald-1.5.0.tar.gz
SOURCES/ad_integration-1.6.0.tar.gz
SOURCES/ansible-sshd-v0.27.1.tar.gz
SOURCES/crypto_policies-1.5.0.tar.gz
SOURCES/fapolicyd-1.1.10.tar.gz
SOURCES/ha_cluster-1.25.6.tar.gz
SOURCES/kdump-1.4.13.tar.gz
SOURCES/logging-1.15.2.tar.gz
SOURCES/nbde_server-1.5.0.tar.gz
SOURCES/ansible-posix-2.1.0.tar.gz
SOURCES/bootloader-1.1.4.tar.gz
SOURCES/network-1.17.5.tar.gz
SOURCES/selinux-1.10.4.tar.gz
SOURCES/systemd-1.3.4.tar.gz
SOURCES/vpn-1.6.11.tar.gz
SOURCES/metrics-1.13.0.tar.gz
SOURCES/nbde_client-1.3.4.tar.gz
SOURCES/containers-podman-1.17.0.tar.gz
SOURCES/kernel_settings-1.3.5.tar.gz
SOURCES/ssh-1.6.0.tar.gz
SOURCES/tlog-1.4.3.tar.gz
SOURCES/auto-maintenance-1.108.6.tar.gz
SOURCES/community-general-11.2.1.tar.gz
SOURCES/aide-1.2.1.tar.gz
SOURCES/postfix-1.6.4.tar.gz
